<html>
<head>
  <title>Nagravision file upload</title>

  <style>
    body  { font-family:Arial; }
    img { border:1px solid #000000; }
  </style>

</head>

<body>
<h2>Uploaded Picture</h2>

<p>Number of Blocks: <%= @numberOfBlocks %></p>

<div style="width:80%;text-align:center;">
<div style="max-width:45%;float:left;">
	<img src="/files/<%= @fileName %>" style="max-width:100%;"/><h3>Original</h3>
</div>
<div style="max-width:45%;float:right;">
<img src="/files/<%= @new_filename %>" style="max-width:100%;"/><h3>Nagravisioned</h3>
</div>
</div>

<%= @comp_arr[0] %>
</body>
</html>
