<html>
<head>
  <title>Nagravision file upload</title>

  <style>
    body  { font-family:Arial; }
    label { display:block; margin-top:1.5em; margin-bottom:0.3em; }
    input { padding:0.4em; }
  </style>

</head>

<body>
<h2>Uploaded Picture</h2>

Number of Blocks: <%= @numberOfBlocks %><br />

</body>
</html>
